.container {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.active {
  background: var(--text);
  color: var(--background);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-align: center;
}
